	<%= javascript_include_tag "common" %>
	<div class="site clearfix">
		<div id="site-container" class="context-loader-container" data-pjax-container="">

			<div class="pagehead">
				<div class="container">
					<ul class="tabs">
						<li>
							<%= link_to '报修处理',{:action => 'managerindex'}, :class => 'js-selected-navigation-item' %>
						</li>
						<li>
							<%= link_to '信息管理',{:action => 'messages'},:class => 'js-selected-navigation-item' %>
						</li>
						<li>
							<%= link_to '信息统计',{:action => 'informations'},:class => 'js-selected-navigation-item' %>
						</li>
						<% if session[:user].usertype.to_i == 0 %>
						<li>
							<%= link_to '材料管理',{:action => 'materials'},:class => 'js-selected-navigation-item' %>
						</li>
						<li>
							<%= link_to '维修人员管理',{:action => 'accendants'},:class => 'js-selected-navigation-item selected' %>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
			<div id="js-repo-pjax-container" class="container context-loader-container" data-pjax-container="">

				<div id="slider">
					<div class="frame-meta">
						<br />

						<a href="/wangjin252/OnlineReparation/find/master" class="js-slide-to" data-hotkey="t" style="display:none">Show File Finder</a>

					</div>

					<div class="frames" style="min-height: 315px;">
						<div class="frame">

							<div class="bubble tree-browser-wrapper">

								<div class="commit commit-tease js-details-container">
									<p>
										<a href="javascript:newuser();">添加维修人员</a>
									</p>
								</div>
								<table class="tree-browser css-truncate" cellpadding="0" cellspacing="0">
									<tbody class="tree-entries js-deferred-content" style="text-align: center">
										<tr>
											<td class="content"style="width: 100px">姓名</td>
											<td class="age"style="width: 150px">用户名</td>
											<td class="age"style="width: 150px">密码</td>
											<td class="age"style="width: 150px">联系电话</td>
											<td class="age"style="width: 250px">电子邮件</td>
											<td class="age">操作</td>
										</tr>
										<tr id="new_user" style="display: none;">
											<td class="content" id="new_realname_td">
											<input type="text" id="new_realname" style="min-height: 0px;height: 25px;width: 100px;text-align: center;">
											</td>
											<td class="age"id="new_username_td">
											<input type="text" id="new_username"  style="min-height: 0px;height: 25px;width: 150px;text-align: center;">
											</td>
											<td class="age"id="new_password_td">
											<input type="text" id="new_password"  style="min-height: 0px;height: 25px;width: 150px;text-align: center;">
											</td>
											<td class="age"id="new_cellphone_td">
											<input type="text" id="new_cellphone"  style="min-height: 0px;height: 25px;width: 150px;text-align: center;">
											</td>
											<td class="age" id="new_email_td">
											<input type="text" id="new_email"  style="min-height: 0px;height: 25px;width: 250px;text-align: center;">
											</td>
											<td><a href="javascript:adduser()">添加</a>&nbsp;<a href="javascript:cancel();">取消</a></td>
										</tr>
										<% @users.each do |user| %>
										<tr id="<%= user.id%>_tr">
											<td class="content"  id="<%= user.id%>_realname_td"><%= user.realname%></td>
											<td class="age" id="<%= user.id%>_username_td"><%= user.username%></td>
											<td class="age" id="<%= user.id%>_password_td"><%= user.password%></td>
											<td class="age" id="<%= user.id%>_cellphone_td"><%= user.cellphone%></td>
											<td class="age" id="<%= user.id%>_email_td"><%= user.email%></td>
											<td><a href="javascript:edit(<%= user.id%>)" id="<%= user.id%>_edit">编辑</a>&nbsp;<a href="javascript:deleteuser(<%= user.id%>);">删除</a></td>
										</tr>
										<tr id="<%= user.id%>_show" style="display: none;">
											<td class="content">
											<input type="text" value="<%= user.realname%>" id="<%= user.id%>_realname" style="min-height: 0px;height: 25px;width: 100px;text-align: center;">
											</td>
											<td class="age" >
											<input type="text" value="<%= user.username%>" id="<%= user.id%>_username"  style="min-height: 0px;height: 25px;width: 150px;text-align: center;">
											</td>
											<td class="age" >
											<input type="text" value="<%= user.password%>" id="<%= user.id%>_password"  style="min-height: 0px;height: 25px;width: 150px;text-align: center;">
											</td>
											<td class="age" >
											<input type="text" value="<%= user.cellphone%>" id="<%= user.id%>_cellphone"  style="min-height: 0px;height: 25px;width: 150px;text-align: center;">
											</td>
											<td class="age" >
											<input type="text" value="<%= user.email%>" id="<%= user.id%>_email"  style="min-height: 0px;height: 25px;width: 250px;text-align: center;">
											</td>
											<td><a href="javascript:save(<%= user.id%>)" id="<%= user.id%>_save">保存</a>&nbsp;<a href="javascript:cancelsave(<%= user.id%>);">取消</a></td>
										</tr>
										<% end %>

										<tr>
											<td colspan="6"><%= paginate @users, :window => 2 %></td>

										</tr>
									</tbody>

								</table>
							</div>

						</div>
					</div>
					<br style="clear:both;">

					<br style="clear:both;">

					<div id="js-frame-loading-template" class="frame frame-loading large-loading-area" style="display:none;">
						<img class="js-frame-loading-spinner" src="https://a248.e.akamai.net/assets.github.com/images/spinners/octocat-spinner-128.gif?1347543527" height="64" width="64">
					</div>

				</div>

			</div>
			<!-- footer -->
			<div id="footer">
				<div class="container clearfix">
					<hr class="footer-divider">

					<p class="right">
						© 2013 <span title="0.04586s from fe2.rs.github.com">WangJin</span>&nbsp;All rights reserved.
					</p>
					<a class="left" href="https://github.com/"> <span class="mega-octicon octicon-mark-github"></span> </a>
					<ul id="legal">
						<li>
							<a href="https://github.com/site/terms">Terms of Service</a>
						</li>
						<li>
							<a href="https://github.com/site/privacy">Privacy</a>
						</li>
						<li>
							<a href="https://github.com/security">Security</a>
						</li>
					</ul>
				</div><!-- /.container -->
			</div><!-- /.#footer -->

			<div class="fullscreen-overlay js-fullscreen-overlay" id="fullscreen_overlay">
				<div class="fullscreen-container js-fullscreen-container">
					<div class="textarea-wrap">
						<textarea name="fullscreen-contents" id="fullscreen-contents" class="js-fullscreen-contents" placeholder="" data-suggester="fullscreen_suggester"></textarea>
					</div>
				</div>
				<div class="fullscreen-sidebar">
					<a href="https://github.com/explore#" class="exit-fullscreen js-exit-fullscreen tooltipped leftwards" original-title="Exit Zen Mode"> <span class="mega-octicon octicon-screen-normal"></span> </a>
					<a href="https://github.com/explore#" class="theme-switcher js-theme-switcher tooltipped leftwards" original-title="Switch themes"> <span class="octicon octicon-color-mode"></span> </a>
				</div>
			</div>
		</div>
	</div>
