<div class="site clearfix">
	<div id="site-container" class="context-loader-container" data-pjax-container="">

		<div class="pagehead">
			<div class="container">
				<ul class="tabs">
					<li>
						<%= link_to '报修处理',{:action => 'managerindex'}, :class => 'js-selected-navigation-item' %>
					</li>
					<li>
						<%= link_to '信息管理',{:action => 'messages'},:class => 'js-selected-navigation-item' %>
					</li>
					<li>
						<%= link_to '信息统计',{:action => 'informations'},:class => 'js-selected-navigation-item selected' %>
					</li>
					<% if session[:user].usertype.to_i == 0 %>
					<li>
						<%= link_to '材料管理',{:action => 'materials'},:class => 'js-selected-navigation-item' %>
					</li>
					<li>
						<%= link_to '维修人员管理',{:action => 'accendants'},:class => 'js-selected-navigation-item' %>
					</li>
					<% end %>
				<% if session[:user].usertype.to_i == 2 %>
						<li>	<%= link_to '我的任务',{:action => 'mywork'},:class => 'js-selected-navigation-item selected' %></li>
					<% end %>
				</ul>
				<br/>
			</div>
		</div><!-- /.pagehead -->
		<div class="container">
			<div class="columns explorecols explore">
				<div class="main">
					<div id="trending-repositories" class="trending-repositories context-loader-container">

					</div>
				</div><!-- /.columns.explorecols -->
			</div>

		</div>
		<div class="modal-backdrop"></div>
	</div>
</div>