<%= javascript_include_tag "messages" %>
<%= javascript_include_tag "application" %>
<div class="site clearfix">
	<div id="site-container" class="context-loader-container" data-pjax-container="">

		<div class="pagehead">
			<div class="container">
				<ul class="tabs">
					<li>
						<%= link_to '报修处理',{:action => 'managerindex'}, :class => 'js-selected-navigation-item' %>
					</li>
					<li>
						<%= link_to '信息管理',{:action => 'messages'},:class => 'js-selected-navigation-item selected' %>
					</li>
					<li>
						<%= link_to '信息统计',{:action => 'informations'},:class => 'js-selected-navigation-item' %>
					</li>
					<% if session[:user].usertype.to_i == 0 %>
					<li>
						<%= link_to '材料管理',{:action => 'materials'},:class => 'js-selected-navigation-item' %>
					</li>
					<li>
						<%= link_to '维修人员管理',{:action => 'accendants'},:class => 'js-selected-navigation-item' %>
					</li>
					<% end %>
					<% if session[:user].usertype.to_i == 2 %>
						<li>	<%= link_to '我的任务',{:action => 'mywork'},:class => 'js-selected-navigation-item selected' %></li>
					<% end %>
				</ul>
				<div data-pjax="">
					<div class="tabnav">
						<ul class="tabnav-tabs">
							<li>
								<a href="javascript:shownewsdiv();" class="js-selected-navigation-item tabnav-tab">新闻管理</a>
							</li>
							<li>
								<a href="javascript:shownannouncementdiv();" class="js-selected-navigation-item tabnav-tab">公告管理</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="js-repo-pjax-container" class="container context-loader-container" data-pjax-container="">

			<div id="slider">
				<br />
				<div class="frames" style="min-height: 270px;">
					<div class="frame">

						<div class="bubble tree-browser-wrapper" id="newsdiv">

							<div class="commit commit-tease js-details-container">
								<p>
									<a href="javascript:shownewdiv('news');">添加新闻</a>
								</p>
							</div>
							<table class="tree-browser css-truncate" cellpadding="0" cellspacing="0">
								<tbody class="tree-entries js-deferred-content" style="text-align: center">
									<tr>
										<td class="content"style="width: 200px">新闻名称</td>
										<td class="age"style="width: 450px">新闻内容</td>
										<td class="age"style="width: 80px">发布者</td>
										<td class="age">操作</td>
									</tr>
									<% @news.each do |news| %>
									<tr id="<%= news.id%>_news_tr">
										<td class="content" ><p id="<%= news.id%>_news_title" style="width:200px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><%= news.news_title%></p></td>
										<td class="age" ><p id="<%= news.id%>_news_content" style="width:450px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><%= news.news_content%></p></td>
										<td class="age"><%= news.user.realname%></td>
										<td><a href="javascript:editnews(<%= news.id%>)">编辑</a>&nbsp;<a href="javascript:deletenews(<%= news.id%>);">删除</a></td>
									</tr>
									<% end %>

									<tr>
										<td colspan="5"><%= paginate @news, :window => 2 %></td>

									</tr>
								</tbody>

							</table>
						</div>

						<div class="bubble tree-browser-wrapper" id="announcementsdiv" style="display: none;">

							<div class="commit commit-tease js-details-container">
								<p>
									<a href="javascript:shownewdiv('announcement');">添加公告</a>
								</p>
							</div>
							<table class="tree-browser css-truncate" cellpadding="0" cellspacing="0">
								<tbody class="tree-entries js-deferred-content" style="text-align: center">
									<tr>
										<td class="content"style="width: 100px">公告名称</td>
										<td class="age"style="width: 150px">公告内容</td>
										<td class="age"style="width: 150px">发布者</td>
										<td class="age">操作</td>
									</tr>
									<% @announcements.each do |announcement| %>
									<tr id="<%= announcement.id%>_announcement_tr">
										<td class="content" ><p id="<%= announcement.id%>_announcement_title" style="width:200px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><%= announcement.announcement_title%></p></td>
										<td class="age"><p id="<%= announcement.id%>_announcement_content" style="width:450px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><%= announcement.announcement_content%></p></td>
										<td class="age"><%= announcement.user.realname%></td>
										<td><a href="javascript:editannouncement(<%= announcement.id%>)">编辑</a>&nbsp;<a href="javascript:deleteannouncement(<%= announcement.id%>);">删除</a></td>
									</tr>
									<% end %>

									<tr>
										<td colspan="5"><%= paginate @announcements, :window => 2 %></td>

									</tr>
								</tbody>

							</table>
						</div>

					</div>
				</div>

				<br style="clear:both;">

				<br style="clear:both;">

				<div id="js-frame-loading-template" class="frame frame-loading large-loading-area" style="display:none;">
					<img class="js-frame-loading-spinner" src="https://a248.e.akamai.net/assets.github.com/images/spinners/octocat-spinner-128.gif?1347543527" height="64" width="64">
				</div>

			</div>

		</div>

	</div>
	<div id="newnewsdiv" style="display: none;position: absolute;z-index: 10000;width: 650px;height: 400px;background-color: #f3f3f3;">
		<div class="commit commit-tease js-details-container">
			添加新闻
			<div style="float: right">
				<a href="javascript:closenewdiv('news');">X</a>
			</div>
		</div>
		<div>
			新闻标题
			<input type="text" name="news_title" id="news_title" style="width: 400px;height: 25px;min-height: 0px">
			<br />
			新闻内容
			<br />
			<%= kindeditor_tag :news_content,'' ,{:editor_id => 'news_content_editor'}%>
			<div style="float: right;">
				<a href="javascript:savenews();">添加</a>
			</div>
			<input type="hidden" id = "news_id_hidden">
		</div>
	</div>

	<div id="newannouncementdiv" style="display: none;position: absolute;z-index: 10000;background-color: #f3f3f3;650px;height: 400px">
		<div class="commit commit-tease js-details-container">
			添加公告
			<div style="float: right">
				<a href="javascript:closenewdiv('announcement');">X</a>
			</div>
		</div>
		<div>
			公告标题
			<input type="text" name="announcement_title" id="announcement_title" style="width: 400px;height: 25px;min-height: 0px">
			<br />
			公告内容
			<br />
			<%= kindeditor_tag :announcement_content,'' ,{:editor_id => 'announcement_content_editor', :simple_mode => true}%>
			<div style="float: right;">
				<a href="javascript:saveannouncement();">添加</a>
			</div>
			<input type="hidden" id = "announcement_id_hidden">
		</div>
	</div>

</div>

