<div class="site clearfix">
	<div id="site-container" class="context-loader-container" data-pjax-container="">

		<div class="pagehead">
			<div class="container">
				<ul class="tabs">
					<li>
						<%= link_to '新闻公告',{:action => 'index'}, :class => 'js-selected-navigation-item selected' %>
					</li>
					<li>
						<%= link_to '最近报修',{:action => 'reparations'},:class => 'js-selected-navigation-item' %>
					</li>
					<li>
						<%= link_to '物品公示',{:action => 'materials'},:class => 'js-selected-navigation-item' %>
					</li>
					<li>
						<%= link_to '投诉建议',{:action => 'suggestions'},:class => 'js-selected-navigation-item' %>
					</li>
				</ul>
				<br/>
			</div>
		</div><!-- /.pagehead -->

		<div class="container">
			<div class="columns explorecols explore">
				<div class="main">
					<div id="trending-repositories" class="trending-repositories context-loader-container">
						<h2 class="trending-heading">新闻 </h2>
						<ol class="ranked-repositories context-loader-overlay">

							<% @news.each_with_index do |news,i|%>
							<% if i<6 %>
							<li>
								<ul class="repo-stats">
									<li class="watchers">
										<a ><%= news.readtimes %> </a>
									</li>
								</ul>

								<h3><a href=""><%= news.news_title%></a></h3>

								<p class="description" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
									<%= news.news_content.html_safe %>
								</p>

							</li>
							<% end %>
							<% end %>

						</ol>

					</div>

				</div>

				<div class="sidebar">
					<h2 class="featured-heading">公告</h2>
					<ul class="ranked-repositories">
						<% @announcements.each_with_index do |announcement,i|%>
						<% if i<6 %>
						<li>
							<ul class="repo-stats">
								<li class="watchers">
									<a > <%= announcement.readtimes %> </a>
								</li>
							</ul>

							<h3><a href=""><%= announcement.announcement_title%></a></h3>

							<p class="description">
								<%= announcement.announcement_content.html_safe %>
							</p>

						</li>
						<% end %>
						<% end %>

					</ul>
				</div>
			</div><!-- /.columns.explorecols -->
		</div>

	</div>
	<div class="modal-backdrop"></div>
</div>
</div><!-- end of wrapper - hack for sticky footer -->

<!-- footer -->
<div id="footer">
	<div class="container clearfix">
		<hr class="footer-divider">

		<p class="right">
			© 2013 <span>WangJin</span>&nbsp;All rights reserved.
		</p>
		<a class="left"> <span class="mega-octicon octicon-mark-github"></span> </a>
		<!--
		<ul id="legal">
		<li>
		<a href="https://github.com/site/terms">Terms of Service</a>
		</li>
		<li>
		<a href="https://github.com/site/privacy">Privacy</a>
		</li>
		<li>
		<a href="https://github.com/security">Security</a>
		</li>
		</ul>-->

	</div><!-- /.container -->
</div><!-- /.#footer -->

<div class="fullscreen-overlay js-fullscreen-overlay" id="fullscreen_overlay">
	<div class="fullscreen-container js-fullscreen-container">
		<div class="textarea-wrap">
			<textarea name="fullscreen-contents" id="fullscreen-contents" class="js-fullscreen-contents" placeholder="" data-suggester="fullscreen_suggester"></textarea>
		</div>
	</div>
	<div class="fullscreen-sidebar">
		<a href="https://github.com/explore#" class="exit-fullscreen js-exit-fullscreen tooltipped leftwards" original-title="Exit Zen Mode"> <span class="mega-octicon octicon-screen-normal"></span> </a>
		<a href="https://github.com/explore#" class="theme-switcher js-theme-switcher tooltipped leftwards" original-title="Switch themes"> <span class="octicon octicon-color-mode"></span> </a>
	</div>
</div>