<div class="site clearfix">
	<div id="site-container" class="context-loader-container" data-pjax-container="">

		<div class="pagehead">
			<div class="container">
				<ul class="tabs">
					<li>
						<%= link_to '新闻公告',{:action => 'index'}, :class => 'js-selected-navigation-item selected' %>
					</li>
					<li>
						<%= link_to '最近报修',{:action => 'reparations'},:class => 'js-selected-navigation-item' %>
					</li>
					<li>
						<%= link_to '物品公示',{:action => 'materials'},:class => 'js-selected-navigation-item' %>
					</li>
					<li>
						<%= link_to '投诉建议',{:action => 'suggestions'},:class => 'js-selected-navigation-item' %>
					</li>
				</ul>
				<br/>
			</div>
		</div><!-- /.pagehead -->

		<div class="container">
			<div class="columns explorecols explore">
				<div class="main">
					<div id="trending-repositories" class="trending-repositories context-loader-container">
						<h2 class="trending-heading">新闻 </h2>
						<ol class="ranked-repositories context-loader-overlay">

							<% @news.each_with_index do |news,i|%>
							<% if i < 7 %>
							<li> 
								<ul class="repo-stats">
									<li><a><%= news.updated_at.strftime('%m-%d') %></a></li>
									<li class="watchers">
										<a ><%= news.readtimes %> </a>
									</li>
								</ul>

								<div style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
									<h3 id="title"><a href="/welcome/show_news_details?id=<%= news.id%>"><%= news.news_title %></a></h3>
								</div>

							</li>
							<% end %>
							<% end %>

						</ol>

					</div>

				</div>

				<div class="sidebar">
					<h2 class="featured-heading">公告</h2>
					<ul class="ranked-repositories">
						<% @announcements.each_with_index do |announcement,i|%>
						<% if i < 7 %>
						<li>
							<ul class="repo-stats">
								<li><a><%= announcement.updated_at.strftime('%m-%d') %></a></li>
								<li class="watchers">
									<a > <%= announcement.readtimes %> </a>
								</li>
							</ul>


							<div style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
							<h3 id="title"><a href=""><%= announcement.announcement_title%></a></h3>
							</div>

						</li>
						<% end %>
						<% end %>

					</ul>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-backdrop"></div>
</div>
</div><!-- end of wrapper - hack for sticky footer -->