<%= form_for @reparation_information, :url => url_for(:controller =>'reparation', :action => 'processapply') do |f| %>
	<% if @reparation_information.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@reparation_information.errors.count, "error") %> prohibited this reparation_information from being saved:</h2>
		
			<ul>
				<% @reparation_information.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
	<% end %>
<table align="center" style="margin-left:50px; ">
	<tbody style="text-align: center;font-size: 13px">
		<tr>
			<td>姓名</td>
			<td> <%= f.text_field :realname, :value => session[:user].realname %> <%= f.hidden_field :user_id ,:value => session[:user].id %></td>
			<td>手机号码</td>
			<td> <%= f.text_field :cellphone, :value => session[:user].cellphone %> </td>
			<td>地址</td>
			<td> <%= f.text_field :location, :value => session[:user].location %> </td>
			<td><a id="showdiv" href="###">重新选择地址</a></td>
		</tr>
		<tr>
			<td>问题类别</td>
			<td> <%= f.collection_select(:problem_id, @problems, :id, :problemType)%> </td>
			<td>问题描述</td>
			<td colspan="3"> <%= f.text_field :problem_desc%> </td>
			<td><a href="javascript:submitForm(new_reparation_information);">提交</a></td>
		</tr>
	</tbody>
</table>
<div id="location" style="z-index: 100;position: absolute;background-color: rgb(255,255,255)">
	<select id="selectone">
		<option>区域</option>
		<% @locations.each do |location| %>
		<option id ='<%= location.parentId%>' value ='<%= location.locationId%>|<%= location.locationName %>'><%= location.locationName %></option>
		<% end %>
	</select><span id="leveltwo">
		<select id="selecttwo">
			<option>建筑物</option>
		</select><span style="margin-left: 5px">房间号</span>
		<input id="roomId" type="text" name="roomId" style="width: 40px;height: 25px;min-height: 0px" />
		<a href="###" id="aconfirm">确定</a></span>
</div>
<% end %>

