<%= javascript_include_tag "select" %>
<% if session[:user] %>
		<div class="header header-logged-in true">
			<div class="container clearfix">

				<%= link_to '网上报修平台', :root, :id => 'loggedlogo' %>

				<div class="divider-vertical"></div>

				<ul id="user-links">
					<li>
						<a href="###" class="name">欢迎：<%= session[:user].realname %></a>
					</li>
					<% if session[:user].usertype.to_i < 4 %>
					<li>
						<%= link_to '管理中心', {:controller => 'managercenter', :action => 'index'}, :class => 'name'%>
					</li>
					<% end %>
					<% if session[:user].usertype.to_i == 4 %>
					<li>
						<a href="/reparation/index" id="new_repo" class="tooltipped downwards" original-title="Create a new reparation"> <span class="octicon octicon-repo-create"></span> </a>
					</li>
					<% end %>
					<li>
						<a href="/membercenter/index" id="account_settings" class="tooltipped downwards" original-title="Account settings "> <span class="octicon octicon-tools"></span> </a>
					</li>
					<li>
						<a class="tooltipped downwards" href="/logout" data-method="post" id="logout" original-title="Sign out"> <span class="octicon octicon-log-out"></span> </a>
					</li>

				</ul>

				<div class="js-new-dropdown-contents hidden">
					<ul class="dropdown-menu">
						<li>
							<a href="/new"><span class="octicon octicon-repo-create"></span> New repository</a>
						</li>
						<li>
							<a href="https://github.com/wangjin252/OnlineReparation/issues/new"><span class="octicon octicon-issue-opened"></span> New issue</a>
						</li>
						<li></li>
						<li>
							<a href="/organizations/new"><span class="octicon octicon-list-unordered"></span> New organization</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<br />

		<% else %>
		<div class="header header-logged-out">
			<div class="container clearfix">
				<%= link_to '网上报修平台', :root,:id => 'logo' %>
				<div class="header-actions">
					<%= link_to '注 册', {:controller => 'register',:action => 'toregister'}, :class => 'button primary' %>
					<%= link_to '登 录', {:controller => 'login',:action => 'tologin'}, :class => 'button'%>
				</div>
			</div>
		</div>

		<% end %>
<div class="site clearfix">
	<div id="site-container" class="context-loader-container" data-pjax-container="">

		<div class="pagehead">
			<div class="container">
				<ul class="tabs">
					<li>
						<%= link_to '新闻公告',{:controller => 'welcome', :action => 'index'}, :class => 'js-selected-navigation-item' %>
					</li>
					<li>
						<%= link_to '最近报修',{:controller => 'welcome', :action => 'reparations'},:class => 'js-selected-navigation-item' %>
					</li>
					<li>
						<%= link_to '物品公示',{:controller => 'welcome', :action => 'materials'},:class => 'js-selected-navigation-item' %>
					</li>
					<li>
						<%= link_to '投诉建议',{:controller => 'welcome', :action => 'suggestions'},:class => 'js-selected-navigation-item' %>
					</li>
				</ul>
				<br/>
			</div>
		</div><!-- /.pagehead -->

		<div id="js-repo-pjax-container" class="container context-loader-container" data-pjax-container="">

			<!-- tree commit key: views10/v8/tree:v21:9074d5d4514048221a6bb1018f7955c9 -->

			<div id="slider">
				<div class="frame-meta">
					<div class="breadcrumb">
						<span class="bold"><span><a href="###" class="js-slide-to" data-branch="master" data-direction="back" itemscope="url"><span itemprop="title">申请报修</span></a></span></span>
					</div>
					<br />

					<a href="/wangjin252/OnlineReparation/find/master" class="js-slide-to" data-hotkey="t" style="display:none">Show File Finder</a>

				</div><!-- ./.frame-meta -->

				<div class="frames" style="min-height: 656px;">
					<div class="frame">

						<!--
						<div class="bubble tree-browser-wrapper">
						
													<div class="commit commit-tease js-details-container">
														<p class="commit-title ">
															<a class="message">填写报修信息</a>
						
														</p>
													</div>
													<table class="tree-browser css-truncate" cellpadding="0" cellspacing="0">
														<tbody class="tree-entries js-deferred-content" data-url="/wangjin252/OnlineReparation/tree-commits/master">
						
															<tr>
																<td class="icon"><span class="octicon octicon-file-directory"></span></td>
																<td class="content"><a href="/wangjin252/OnlineReparation/tree/master/app" class="js-directory-link js-slide-to css-truncate-target" id="d2a57dc1d883fd21fb9951699df71cc7-35afb0cb60eef66206c3a30501557b7e59f91dfb" title="app">app</a></td>
																<td class="age">
																<time class="js-relative-date" datetime="2013-05-19T23:48:24-07:00" title="2013-05-19 23:48:24">
																	2 hours ago
																</time></td>
						
																<td class="message"><a href="/wangjin252/OnlineReparation/commit/453f8d46f6ae67275003f845f25b0dd4b35a37bb" class="message">add managercenter</a> [<a href="/wangjin252" rel="author">wangjin252</a>] </td>
															</tr>
															<tr>
																<td class="icon"><span class="octicon octicon-file-directory"></span></td>
																<td class="content"><a href="/wangjin252/OnlineReparation/tree/master/config" class="js-directory-link js-slide-to css-truncate-target" id="2245023265ae4cf87d02c8b6ba991139-20e8e59d11b99dad698d4922ce6b135706346af7" title="config">config</a></td>
																<td class="age">
																<time class="js-relative-date" datetime="2013-05-19T23:48:24-07:00" title="2013-05-19 23:48:24">
																	2 hours ago
																</time></td>
						
																<td class="message"><a href="/wangjin252/OnlineReparation/commit/453f8d46f6ae67275003f845f25b0dd4b35a37bb" class="message">add managercenter</a> [<a href="/wangjin252" rel="author">wangjin252</a>] </td>
															</tr>
															
														</tbody>
						
													</table>
												</div>-->
						

						<div id="readme" class="clearfix announce instapaper_body md">
							<span class="name">填写报修信息</span>
							<article class="markdown-body entry-content">
								<%= render :partial => 'form' %>
							</article>
						</div>
					</div>
				</div>
				<br style="clear:both;">

				<br style="clear:both;">

				<div id="js-frame-loading-template" class="frame frame-loading large-loading-area" style="display:none;">
					<img class="js-frame-loading-spinner" src="https://a248.e.akamai.net/assets.github.com/images/spinners/octocat-spinner-128.gif?1347543527" height="64" width="64">
				</div>

			</div>

		</div>

		<!-- footer -->
		<div id="footer">
			<div class="container clearfix">
				<hr class="footer-divider">

				<p class="right">
					© 2013 <span title="0.04586s from fe2.rs.github.com">GitHub</span>, Inc. All rights reserved.
				</p>
				<a class="left" href="https://github.com/"> <span class="mega-octicon octicon-mark-github"></span> </a>
				<ul id="legal">
					<li>
						<a href="https://github.com/site/terms">Terms of Service</a>
					</li>
					<li>
						<a href="https://github.com/site/privacy">Privacy</a>
					</li>
					<li>
						<a href="https://github.com/security">Security</a>
					</li>
				</ul>
			</div><!-- /.container -->
		</div><!-- /.#footer -->

		<div class="fullscreen-overlay js-fullscreen-overlay" id="fullscreen_overlay">
			<div class="fullscreen-container js-fullscreen-container">
				<div class="textarea-wrap">
					<textarea name="fullscreen-contents" id="fullscreen-contents" class="js-fullscreen-contents" placeholder="" data-suggester="fullscreen_suggester"></textarea>
				</div>
			</div>
			<div class="fullscreen-sidebar">
				<a href="https://github.com/explore#" class="exit-fullscreen js-exit-fullscreen tooltipped leftwards" original-title="Exit Zen Mode"> <span class="mega-octicon octicon-screen-normal"></span> </a>
				<a href="https://github.com/explore#" class="theme-switcher js-theme-switcher tooltipped leftwards" original-title="Switch themes"> <span class="octicon octicon-color-mode"></span> </a>
			</div>
		</div>
