<!DOCTYPE html>
<html>
	<head>
		<title>Online Reparation</title>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "jquery" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<% if session[:user] %>
		<div class="header header-logged-in true">
			<div class="container clearfix">

				<%= link_to '网上报修平台', :root, :id => 'loggedlogo' %>

				<div class="divider-vertical"></div>

				<ul id="user-links">
					<li>
						<a href="###" class="name">欢迎：<%= session[:user].realname %></a>
					</li>
					<% if session[:user].usertype.to_i < 4 %>
					<li>
						<%= link_to '管理中心', {:controller => 'managercenter', :action => 'index'}, :class => 'name'%>
					</li>
					<% end %>
					<% if session[:user].usertype.to_i == 4 %>
					<li>
						<a href="repararion_apply/index" id="new_repo" class="tooltipped downwards" original-title="Create a new reparation"> <span class="octicon octicon-repo-create"></span> </a>
					</li>
					<% end %>
					<li>
						<a href="/membercenter/index" id="account_settings" class="tooltipped downwards" original-title="Account settings "> <span class="octicon octicon-tools"></span> </a>
					</li>
					<li>
						<a class="tooltipped downwards" href="/logout" data-method="post" id="logout" original-title="Sign out"> <span class="octicon octicon-log-out"></span> </a>
					</li>

				</ul>

				<div class="js-new-dropdown-contents hidden">
					<ul class="dropdown-menu">
						<li>
							<a href="/new"><span class="octicon octicon-repo-create"></span> New repository</a>
						</li>
						<li>
							<a href="https://github.com/wangjin252/OnlineReparation/issues/new"><span class="octicon octicon-issue-opened"></span> New issue</a>
						</li>
						<li></li>
						<li>
							<a href="/organizations/new"><span class="octicon octicon-list-unordered"></span> New organization</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<br />

		<% else %>
		<div class="header header-logged-out">
			<div class="container clearfix">
				<%= link_to '网上报修平台', :root,:id => 'logo' %>
				<div class="header-actions">
					<%= link_to '注 册', {:controller => 'register',:action => 'toregister'}, :class => 'button primary' %>
					<%= link_to '登 录', {:controller => 'login',:action => 'tologin'}, :class => 'button'%>
				</div>
			</div>
		</div>

		<% end %>
		<%= yield %>

	</body>
</html>
