<!DOCTYPE html>
<html>
	<head>
		<title>Online Reparation</title>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<% if session[:user] %>
		<div class="headerlogged">
			<div class="container">
				<span class="blank"> &nbsp; </span>
				<span><%= link_to 'Online Reparation', :root %></span>
				<span class="logbtn">欢迎：<%= session[:user].realname %>
					<%= link_to '个人中心', :controller => 'membercenter', :action =>  'index'%>
					<%= link_to '退出登录', {:controller => 'login',:action => 'logout'}, :class => 'logoutbtn'%> </span>
			</div>
		</div>
		<% else %>
		<div class="headerlogout">
			<div class="container">
				<span class="titlefont"><%= link_to 'Online Reparation', :root %></span>
				<span class="logbtn"> <%= link_to '注 册', {:controller => 'register',:action => 'toregister'}, :class => 'registerbtn'%>
					<%= link_to '登 录', {:controller => 'login',:action => 'tologin'}, :class => 'loginbtn'%> </span>
			</div>
		</div>
		<% end %>
		<%= yield %>

	</body>
</html>
