<!DOCTYPE html>
<html>
	<head>
		<title>Online Reparation</title>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "jquery" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<% if session[:user] %>
		<div class="header header-logged-in true">
			<div class="container clearfix">

				<%= link_to '高校后勤报修服务平台', :root, :id => 'loggedlogo' %>

				<div class="divider-vertical"></div>

				<ul id="user-links">
					<li>
						<a href="###" class="name">欢迎：<%= session[:user].realname %></a>
					</li>
					<% if session[:user].usertype.to_i < 3 %>
					<li>
						<%= link_to '管理中心', {:controller => 'managercenter', :action => 'managerindex'}, :class => 'name'%>
					</li>
					<% end %>
					<% if session[:user].usertype.to_i == 3 %>
					<li>
						<%= link_to '申请报修', {:controller => 'reparation', :action => 'reparationindex'}%>
					</li>
					<% end %>
					<li>
						<a href="/membercenter/memberindex" id="account_settings" class="tooltipped downwards" original-title="Account settings "> <span class="octicon octicon-tools"></span> </a>
					</li>
					<li>
						<div class="tabnav-right">
							<div class="tabnav-widget" id="logout">
								<a href="/logout" class="button minibutton primary bigger js-new-issue-button">登&nbsp;出</a>
							</div>
						</div>
					</li>

				</ul>

			</div>
		</div>
		<br />

		<% else %>
		<div class="header header-logged-out">
			<div class="container clearfix">
				<%= link_to '高校后勤报修服务平台', :root,:id => 'logo' %>
				<div class="header-actions">
					<%= link_to '注 册', {:controller => 'register',:action => 'toregister'}, :class => 'button primary' %>
					<%= link_to '登 录', {:controller => 'login',:action => 'tologin'}, :class => 'button'%>
				</div>
			</div>
		</div>

		<% end %>
		<%= yield %>
<!-- footer -->
<div id="footer">
	<div class="container clearfix">
		<hr class="footer-divider">

		<p class="right">
			© 2013 <span>淮海工学院 王金</span>&nbsp;版权所有
		</p>
		<a class="left"> <span class="mega-octicon octicon-mark-github"></span> </a>
		<ul id="legal">
        <li><a href="https://github.com">Page Prototype from GitHub</a></li>
    </ul>
	</div><!-- /.container -->
</div><!-- /.#footer -->
	</body>
</html>
